#logo{
	max-width: 200px;
	width: 200px;
	height: auto;
}
#main-content{
	padding-top:100px;
}
body {
    margin:10px 0px;
    margin:auto;  
}

#accordion {
     margin-top:10px;
     border:thin solid #cecece;   
     border-top:none;
     border-bottom:none;
}

#accordion div {
    background:white;
    height:500px;
    line-height:100px;
    display:none;
    border-bottom:thin solid #cecece;
}

#accordion a {
    display:block;
    background:#e34e00;
    color:#fff;
    padding-left:15px;
    height:40px;
    line-height:40px;
    text-decoration:none;
    border-bottom:thin solid #cecece;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    
}

.first {
    border-top:thin solid #cecece;    
}
.switch{
	font-size: 0.8125rem;
	padding: 10px;
	margin-top: 30px;
	position:fixed;
}

.switch a{
	text-decoration: none;
	color: #fff;
}
.switch a:hover{
	text-decoration: none;
	color: #fff;
}
  #modal {
    height: 350px;
    border: 1px solid #CCC;
    box-shadow: 0 1px 5px #CCC;
    font-family: verdana;
    overflow-x:hidden;
    overflow-y:scroll;
    background: #fff;
    margin-bottom: 10px;
  }
  .container-articles{
  	float: left;
  	width: 450px;
  	padding-right: 10px;
  }
  .container-articles a{
  	float: left;
  	width: 420px;
  	padding-right: 10px;
  	color:#333;
  	width: 390px;
  	line-height: 100%;
  	padding-bottom: 5px;
  	border: 0px;
  }
  header {
    background: #e34e00;
    padding: 10px;
    cursor: move;
    box-shadow: 0 1px 5px #CCC;
  }
  header h1 {
    padding: 0;
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  #modal section {
    padding: 10px 30px; 
    line-height: 175%;
    color: #333;
  }
#modal::-webkit-scrollbar {
    width: 12px;
}
#modal::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
#modal::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#modal::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}
 .slide-out-div {
          padding: 20px;
          width: 250px;
          background: #ccc;
          border: 1px solid #29216d;:45px;
}
/* General styles for all menus */
 
.cbp-spmenu {
    background: #000;
    position: fixed;
}
 
.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}
 
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}
 
.cbp-spmenu a:hover {
    background: #258ecd;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}
 
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    width: 220px;
    height: 100%;
    top: 0;
    z-index: 1000;
    margin-top:45px;
}
 
.cbp-spmenu-vertical a {

}
 
.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
 
.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}
 
.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
    left: -240px;
}
 
.cbp-spmenu-right {
    right: -240px;
}
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
 
/* Horizontal menu that slides from the top or bottom */
 
.cbp-spmenu-top {
    top: -150px;
}
 
.cbp-spmenu-bottom {
    bottom: -150px;
}
 
.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}
 
.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}
 
/* Push classes applied to the body */
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}
 
/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#sortable{
  padding-left: 20px;
}

#cbp-spmenu-s1{
  color:#fff;
  padding-top: 40px;
  padding-left: 20px;
}
.settings{
}
 .settings li{
    color:#fff;
    list-style-type: none;
 }

 .settings li input{
    color:#fff !important;
 }
 #settings-submit {
    font-size: 0.8125rem;
    padding:10px;
    background: #e34e00;
    margin-left: 10px;
 }
/* Example media queries */
/* 
@media screen and (max-width: 55.1875em){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}*/