{% extends "base.html" %}

{% block title %}404 Error{% endblock %}

{% block content %}

<div class="row">
 	<div class="large-11 large-centered columns" style="padding-left:90px;">
		<img id="404" src="{{url_for('static', filename='img/404.png')}}" alt="404 Error Image"/>
	</div>
</div>
{% endblock %}
