<html>
  <head>
    <title>FeedMe - {% block title %}{% endblock %}</title>
  	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{url_for('static', filename='js/foundation.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.allofthelights.js')}}"></script>
    <script src="{{url_for('static', filename='js/fastclick.js')}}"></script>
    <script src="{{url_for('static', filename='js/foundation.accordion.js')}}"></script>
    <script src="{{url_for('static', filename='js/foundation.magellan.js')}}"></script>
    <script src="{{url_for('static', filename='js/foundation.reveal.js')}}"></script>
    <script src="{{url_for('static', filename='js/foundation.tab.js')}}"></script>
    <script src="{{url_for('static', filename='js/foundation.tooltip.js')}}"></script>
    <script src="{{url_for('static', filename='js/foundation.topbar.js')}}"></script>  
    <script src="{{url_for('static', filename='js/jquery.cookie.js')}}"></script> 
    <script src="{{url_for('static', filename='js/modernizr.js')}}"></script>
    <script src="{{url_for('static', filename='js/modernizr.custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/classie.js')}}"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/foundation.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon.ico')}}">
  </head>

  <body class="cbp-spmenu-push">
  <div class="fixed">
    <nav class="top-bar" data-topbar="">
      <ul class="title-area ">
          <li class="name">
            <h1><a href="/"><img id="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="logo"/></a></h1>
          </li>
      </ul>  
      <section class="top-bar-section">
        <ul class="right">
          {% if display_setting == True%}
          <!--   <li class="divider"></li> -->
            <li class="has-form">
              <a  id="showLeft" class="button" style="background-color:#333">Settings</a>
            </li>
          {% endif %}
          {% if session.logged_in %}
            <!-- <li class="divider"></li> -->
            <li class="has-form">
              <a href="/articles" class="button">Articles</a>
            </li>
            <!-- <li class="divider"></li> -->
            <li class="has-form">
              <a href="/tvshows" class="button">TV Shows</a>
            </li>
            <!-- <li class="divider"></li> -->
              <li class="has-form">
                <a href="/logout" class="button">Logout</a>
              </li>
              <!-- <li class="divider"></li> -->
          {% endif %}
        </ul>
      </section>
    </nav>
	</div>

  <div id="main-content">
      {% block content %}{% endblock %}
  </div>


  <footer>
  </footer>

  <script>
   $(function() {
        $('#calculate').bind('click', function() {
          $.getJSON('/_add_numbers', {
            a: $('input[name="a"]').val(),
            b: $('input[name="b"]').val()
          }, function(data) {
            $("#result").text(data.result);
          });
          return false;
        });
      });
  </script>

  {% block script%}
  {% endblock %}

  </body>
</html>
