{% extends "base.html" %}

{% block title %}Articles{% endblock %}

{% block content %}

<!-- Side Panel -->
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <h4 style="color:#fff;padding-bottom:15px;padding-top:15px;">Display Articles</h4>
        <form method="post" action="/filter_articles" id="settings-form">
        <u1 class="settings">
          {% for item in articles_input %}
            <li><input style="color:#fff;" value="{{item['id']}}" type="checkbox" name="filters[]"
                {% if item['is_selected'] == True%}
                  checked
                {% endif %}
            ><label for="{{item['id']}}">{{item['name']}}</label></li>
          {% endfor %}
          </u1>
             <h4 style="color:#fff;padding-bottom:15px;;padding-top:15px;">Article Count</h4>
            <select name="number_of_articles" style="width:175px;">
              {%for i in range(21)%}
                {% if i > 4 %}
                    {% if i == current_num_articles %}
                      <option value="{{i}}" selected>{{i}}</option>
                    {%else%}
                      <option value="{{i}}">{{i}}</option>
                    {% endif %}
                {% endif %}
              {% endfor %}
            </select>

          <a id="settings-submit" class="switch">Submit</a>
        </form>
      
  </nav>
<!-- Articles -->
<div class="row">
  <div>
    <div id="sortable">
    {% for article in articles %}
      <div class="container-articles">
         <header><h1>{{article.site_name}}</h1></header>
         <div id="modal">
          {% for content in article.web_content %}
          <section>
             <h1  class="has-tip" title="Posted: {{content['time_of_post']}} &#13;Category: {{content['category']}}"><a href="{{content['link']}}" target="_blank">{{content['title']}}</a></h1>
             <img src="{{content['image_link']}}" alt="feedme article image" width="367px;" />
          </section>
          {% endfor %}        
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
</div>




{% endblock %}

{% block script %}

  <script>

    $("#settings-submit").click( function() {
      $('#settings-form').submit();
    });


    $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });



    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            menuRight = document.getElementById( 'cbp-spmenu-s2' ),
            menuTop = document.getElementById( 'cbp-spmenu-s3' ),
            menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
            showLeft = document.getElementById( 'showLeft' ),
            showRight = document.getElementById( 'showRight' ),
            showTop = document.getElementById( 'showTop' ),
            showBottom = document.getElementById( 'showBottom' ),
            showLeftPush = document.getElementById( 'showLeftPush' ),
            showRightPush = document.getElementById( 'showRightPush' ),
            body = document.body;
     
    showLeft.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeft' );
    };
    showRight.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRight' );
    };
    showTop.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuTop, 'cbp-spmenu-open' );
        disableOther( 'showTop' );
    };
    showBottom.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuBottom, 'cbp-spmenu-open' );
        disableOther( 'showBottom' );
    };
    showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
    };
    showRightPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toleft' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRightPush' );
    };
     
    function disableOther( button ) {
        if( button !== 'showLeft' ) {
            classie.toggle( showLeft, 'disabled' );
        }
        if( button !== 'showRight' ) {
            classie.toggle( showRight, 'disabled' );
        }
        if( button !== 'showTop' ) {
            classie.toggle( showTop, 'disabled' );
        }
        if( button !== 'showBottom' ) {
            classie.toggle( showBottom, 'disabled' );
        }
        if( button !== 'showLeftPush' ) {
            classie.toggle( showLeftPush, 'disabled' );
        }
        if( button !== 'showRightPush' ) {
            classie.toggle( showRightPush, 'disabled' );
        }
    }

  </script>

{% endblock %}