{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="row">
 	<div class="large-11 large-centered columns" style="padding-top:40px;">
		

  {% if error %}
  		<div data-alert class="alert-box error">
  			Error: {{ error }}
		</div> 
  {% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login class="button" style="width=100%;background-color:#e34e00">
    </dl>
  </form>



	</div>
</div>
{% endblock %}
