{% extends "base.html" %}

{% block title %}TV Shows{% endblock %}

{% block content %}

<div>
	<a id="switch" style="background:#333;color:#fff" class="switch">Turn Off The Lights</a>
</div>

<div class="row">
  <div class="small-11 small-centered columns">
		<div id="accordion" class="video">
			{% for show in ch131[1] %}
					{% if show['season'] != None and show['episoide'] != None %}
				    <a href="#{{show['id']}}" class="{{show['id']}} has-tip"
				     title="{{show['season']}} {{show['episoide']}}">
				    	{{show["show"]}}
				    </a>
				    {% else %}
				    	<a href="#{{show['id']}}" class="{{show['id']}}"
				    	title=""</a>
				    {% endif %}
			    	<div id="{{show['id']}}">
			        {% if show["iframe"] != None%}
			        	<iframe  src="{{show["iframe"]}}" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
			        {% endif %}
			    	</div>
		    {% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
  <script>
	
	$(document).ready(function() {
		$(".video").allofthelights();
	});

	// display the first div by default.
	$("#accordion div").first().css('display', 'block');

	// Get all the links.
	var link = $("#accordion a");

	// On clicking of the links do something.
	link.on('click', function(e) {
	    var a = $(this).attr("href");

	    $(a).slideDown('slow');

	    //$(a).slideToggle('fast');
	    $("#accordion div").not(a).slideUp('slow');
	    
	});

  </script>


 {% endblock %}

